@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=1">
    <link href="~/main.css" rel="stylesheet">
</head>
<body>
    <div  id="Authentication" class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-main">
                <div class="app-main__outer">
                    <div class="app-main__inner">
                      <div class="row">
                         <div class="col-md-2 col-lg-2 col-sm-0"></div>
                        <div  class="col-md-6 col-lg-6 col-sm-12">
                         <div class="main-card mb-3 card">
                                    <div class="card-body">
                                    <form   v-on:submit.prevent="SubmitForLogin" method="post" novalidate="true">
                                        <div style="text-align:center">
                                             <img class="mt-33" height="65" width="150" src=~/assets/images/logo-inverse.png />
                                        </div>
                                         <div class="position-relative form-group">
                                            <label for="exampleEmail" class="">Email</label>
                                            <input type="email" v-model="email" class="form-control" placeholder="Enter an email..." />
                                        </div>

                                        <div class="position-relative form-group">
                                            <label for="exampleEmail" class="">Password</label>
                                            <input type="password" v-model="password" class="form-control" placeholder="Enter a password..." />
                                        </div>
                                
                                        <div v-if="seen" class="col-md-12 text-center">
                                              <ul>
                                            <li v-for="error in errors" class="text-danger">{{ error }}</li>
                                        </ul>
                                           <label class="text-danger" >Email or password is incorrect! Please try again.</label>
                                        </div>
                                        <div class="position-relative form-group">
                                            <button type="submit" style="width:130px;font-size:15px;" class="btn btn-primary" id="loginBtn" >
                                               Login 
                                                </button>
                                        </div>

                                         </form>
                               
                                </div>
                                </div>
                            </div>
                        </div>

                     </div>
               </div>

               
    </div>
    </div>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
         <script src="~/lib/jquery/dist/jquery.min.js"></script>
         <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"> </script>
        <script src="~/views/Authentication.js"></script>
    </body>
</html>
