@{
    ViewData["Title"] = "Hour Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Web.Models
@model EmployeePageDetails
@{
    string currentName = "";
    string currentRole = "";
    string currentEmail = "";

    byte[] currentRoleByte;
    byte[] currentNameByte;
    byte[] currentEmailByte;

    if (Context.Session.Keys.Count() > 0)
    {
        Context.Session.TryGetValue("current_user_role", out currentRoleByte);
        Context.Session.TryGetValue("current_user_name", out currentNameByte);
        Context.Session.TryGetValue("current_user_email", out currentEmailByte);


        if (currentRoleByte != null && currentNameByte != null && currentEmailByte != null)
        {
            currentRole = System.Text.Encoding.Default.GetString(currentRoleByte);
            currentName = System.Text.Encoding.Default.GetString(currentNameByte);
            currentEmail = System.Text.Encoding.Default.GetString(currentEmailByte);
        }
    }
}

<div id="archiveDiv">
    <link rel="stylesheet" href="~/css/data-table.css" />
    <div style="min-height:500px" class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title"> Active Proejcts </h5>
                    
                     <div class="card-body">
                          <div id="hourLog" class="col-md-12 col-sm-12 col-lg-12" >
                            <div v-if="empHrs.length" class="modal-body wrkHourLog mb-2" style="width:80%"> 
                                 <table id="empHourLog" class="table table-striped table-bordered" >
                                    <thead>
                                        <tr>
                                            <th style="width:5%">SL</th>
                                            <th style="width:10%">OT No</th>
                                            <th style="width:12%"> Spent Date </th>
                                            <th style="width:9%"> Spent Hour </th>
                                             <th style="width:30%"> Comments </th>
                                        </tr>
                                    </thead>
                                <tbody>
                                  <tr v-for="(log,index) in empHrs" :key="log.id">
                                        <td style="width:5%">{{index+1}}</td>
                                        <td style="width:10%">{{log.wrkNo}}</td>
                                        <td style="width:12%">{{log.logDateStr}}</td>
                                        <td style="width:9%">{{log.lhour}}</td>
                                        <td style="width:30%"> {{log.remarks}} </td>
                                    </tr>
                                 </tbody>
                                </table>
                            </div>
                          </div>
                         <h5 class="card-title"> Projects </h5>
                                        <table id="wrkAdminPanel" class="mb-0 table table-striped">
                                            <thead>
                                            <tr style="font-size:14px">
                                                <th> # </th>
                                                <th> Year </th>
                                                <th> Work  No </th>
                                                <th> Client Name  </th>
                                                <th> Name  </th>
                                                <th> HRS  </th>
                                                <th> Progress  </th>
                                            </tr>
                                            </thead>
                                               <tbody>
                                                  <tr v-for="(wrk,index) in workOrders" :key="wrk.workOrderNo">
                                                        <td>{{index+1}}</td>
                                                        <td>{{wrk.projectYear}}</td>
                                                        <td>{{wrk.workOrderNo }}</td>
                                                        <td>{{wrk.clientName }}</td>
                                                        <td>{{wrk.consecutiveWork }}</td>
                                                        <td> 
                                                            <a href="#" v-on:click="EmpHoursLogForOT(wrk)"> {{wrk.spentHour}} </a> 
                                                        </td>
                                                        <td>{{ wrkProgress(wrk) }} </td>
                                                    </tr>
                                                 </tbody>
                                          
                                        </table>
                                    </div>
        </div>
    </div>
    @section Scripts {
        <script src="~/views/AdminPanelEmp.js"></script>
    }
  </div>











